<table class="scoring-board">
<form class ="frame_one" action="/" method="post">
<tr >
	<td>
		Frame 1
	</td>
	<td>
		<input class="roll_one" name="roll_one" type="text" value="<%= strike?(display_roll(@roll_one)) %>">
		<input class="roll_two" name="roll_two" type="text" value="<%= spare?(display_roll(@roll_two)) %>">
	</td>
		<td>
			<h1><%= display_score_for_frame %></h1>
		</td>
	<td>
		<button class="calc_one" type="Calc">Next</button>
	</td>
</tr>
</form>
<tr>
	<td>Test</td>
	<td></td>
</tr>
<tr>
	<td>Test</td>
	<td></td>
</tr>
<tr>
	<td>Test</td>
	<td></td>
</tr>

</table>

</form>
